main{
    background-color: #3b3a38;
}

button{
    border: 4px solid;
    background-color: #0a0a0a;
    color: #c1fa05;
    position:relative;
    left: 650px;
    padding: 10px;
    text-decoration: none;
}

.sala{
    width: 100%;
    height: 2000px;
}

.mainC{
    width: 100%;
    height: 740px;
    max-width: 100% !important;
}

.titulo{
    color: #c1fa05;
}

.titulo1{
    color: #c1fa05;
    text-decoration: underline;
    padding-left: 450px;
}

.container{
    background-color: #0a0a0a;
    color: #c1fa05;
}

.contenedor{
    position: relative;
}

.contenido{
    position: relative;
    width: 1000px;
    height: 100%;
    left:500px;
}


.infoText{
    font-size: 20px;
}

.textoGenerado{
    font-size: 20px;
    animation: teclear 1s steps(16), efecto .5s step-end infinite alternate;
}

.playerList{
    font-size: 25px;
}


@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}





